/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable color-hex-length */
/* stylelint-disable length-zero-no-unit */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable function-url-quotes */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable rule-empty-line-before */
/* stylelint-disable font-family-name-quotes */
/* stylelint-disable prettier/prettier */


.win {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1035px;
    height: 774px;
    background: #C2F5FF;

    &__text {
        font-family: 'StratosSkyeng';
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        padding-bottom: 28px;
    }

    &__text2 {
        font-family: 'StratosSkyeng';
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 10px;
    }

    &__timer {
        font-family: 'StratosSkyeng';
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
        padding-bottom: 40px;
    }

    &__button {
        width: 246px;
        height: 50px;
        background: #7AC100;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        &:hover {
            animation: cards__visual 0.3s linear 0s 1 normal forwards;
        }
    }
}

.over {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1035px;
    height: 774px;
    background: #C2F5FF;

    &__text {
        font-family: 'StratosSkyeng';
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        padding-bottom: 28px;
    }

    &__text2 {
        font-family: 'StratosSkyeng';
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 10px;
    }

    &__timer {
        font-family: 'StratosSkyeng';
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
        padding-bottom: 40px;
    }

    &__button {
        width: 246px;
        height: 50px;
        background: #7AC100;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        &:hover {
            animation: cards__visual 0.3s linear 0s 1 normal forwards;
        }
    }
}


.hide {
    // display: none;
    background-image: url(../img/png/рубашка.png);
}

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left-box {
        width: 155px;
        height: 91px;
        color: #FFFFFF;
    }

    &__text {
        font-size: 16px;

        &-box {
            display: flex;
            gap: 57px;
            padding-left: 61px;
        }
    }

    &__time {
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
        padding-left: 22px;
    }

    &__again-button {
        width: 246px;
        height: 50px;
        background: #7AC100;
        border-radius: 12px;
        border-style: none;
        margin-right: 23px;
    }
}

.game__cards {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 15px;
    padding-right: 24px;
    padding-left: 24px;

    &-button {
        width: 95px;
        height: 133px;
        //  background-image: url(../img/png/рубашка.png);

        &:hover {
            animation: cards__visual 0.3s linear 0s 1 normal forwards;
        }
    }
}

.button-active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

@keyframes cards__visual {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
        transform: scale(1);
    }

    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        transform: scale(1.1);
    }
}

@font-face {
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../stratosskyengweb-regular.woff2") format("woff2");
}

.cards-button {
    width: 95px;
    height: 133px;
    // background-image: url();
    border-radius: 4px;
    border-style: none;

    &:hover {
        animation: cards__visual 0.3s linear 0s 1 normal forwards;
    }
}


.center {
    padding-left: calc(50% - 1024px / 2);
    padding-right: calc(50% - 1024px / 2);
}

body {
    background-color: #004980;
    font-family: "StratosSkyeng";
}

.box {
    width: 480px;
    height: 459px;
    margin-top: 158px;
    margin-left: 272px;
    background: #C2f5FF;
    border-radius: 12px;

    &__button {
        width: 246px;
        height: 50px;
        margin-left: 117px;
        margin-right: 117px;
        margin-bottom: 48px;
        margin-top: 67px;
        background: #7ac100;
        border-radius: 12px;
        border: none;

        font-weight: 400px;
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;

    }

    &__text {
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        padding-top: 52px;
        padding-left: 136px;
        padding-right: 136px;
        margin-bottom: 48px;
        text-align: center;
        font-family: "StratosSkyeng";
        font-feature-settings: "pnum" on, "lnum" on;
        color: #004980;
    }

    &__numbers {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 24px;

        &_count {
            width: 98px;
            height: 98px;
            background: #ffffff;
            border-radius: 12px;
            border: none;

            font-family: "StratosSkyeng";
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 72px;
            color: #0080c1;

            &:hover {
                animation: cards__visual 0.3s linear 0s 1 normal forwards;
            }
        }
    }


}

.preset {
    &__spadesA {
        background-image: url('../img/png/туз\ пики.png');
    }

    &__spadesK {
        background-image: url('../img/png/король\ пики.png');
    }

    &__spadesQ {
        background-image: url('../img/png/дама\ пики.png');
    }

    &__spadesJ {
        background-image: url('../img/png/валет\ пики.png');
    }

    &__spades10 {
        background-image: url('../img/png/10\ пики.png');
    }

    &__spades9 {
        background-image: url('../img/png/9\ пики.png');
    }

    &__spades8 {
        background-image: url('../img/png/8\ пики.png');
    }

    &__spades7 {
        background-image: url('../img/png/7\ пики.png');
    }

    &__spades6 {
        background-image: url('../img/png/6\ пики.png');
    }


    &__heartsA {
        background-image: url('../img/png/туз\ черви.png');
    }

    &__heartsK {
        background-image: url('../img/png/король\ черви.png');
    }

    &__heartsQ {
        background-image: url('../img/png/дама\ черви.png');
    }

    &__heartsJ {
        background-image: url('../img/png/валет\ черви.png');
    }

    &__hearts10 {
        background-image: url('../img/png/10\ черви.png');
    }

    &__hearts9 {
        background-image: url('../img/png/9\ черви.png');
    }

    &__hearts8 {
        background-image: url('../img/png/8\ черви.png')
    }

    &__hearts7 {
        background-image: url('../img/png/7\ черви.png')
    }

    &__hearts6 {
        background-image: url('../img/png/6\ черви.png');
    }


    &__christenA {
        background-image: url('../img/png/туз\ крести.png');
    }

    &__christenK {
        background-image: url('../img/png/король\ крести.png');
    }

    &__christenQ {
        background-image: url('../img/png/дама\ крести.png');
    }

    &__christenJ {
        background-image: url('../img/png/валет\ крести.png');
    }

    &__christen10 {
        background-image: url('../img/png/10\ крести.png');
    }

    &__christen9 {
        background-image: url('../img/png/9\ крести.png');
    }

    &__christen8 {
        background-image: url('../img/png/8\ крести.png')
    }

    &__christen7 {
        background-image: url('../img/png/7\ крести.png')
    }

    &__christen6 {
        background-image: url('../img/png/6\ крести.png');
    }


    &__diamondsA {
        background-image: url('../img/png/туз\ бубны.png');
    }

    &__diamondsK {
        background-image: url('../img/png/король\ бубны.png');
    }

    &__diamondsQ {
        background-image: url('../img/png/дама\ бубны.png');
    }

    &__diamondsJ {
        background-image: url('../img/png/валет\ бубны\ \(1\).png');
    }

    &__diamonds10 {
        background-image: url('../img/png/10\ бубны.png');
    }

    &__diamonds9 {
        background-image: url('../img/png/9\ бубны.png');
    }

    &__diamonds8 {
        background-image: url('../img/png/8\ бубны.png')
    }

    &__diamonds7 {
        background-image: url('../img/png/7\ бубны.png')
    }

    &__diamonds6 {
        background-image: url('../img/png/6\ бубны.png');
    }







}