@font-face {
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("stratosskyengweb-regular.woff2") format("woff2");
}

.center {
    padding-left: calc(50% - 1024px / 2);
    padding-right: calc(50% - 1024px / 2);
}

body {
    background-color: #004980;
    font-family: "StratosSkyeng";
}

.box {
    width: 480px;
    height: 459px;
    margin-top: 158px;
    margin-left: 272px;
    background: #C2f5FF;
    border-radius: 12px;

    &__button {
        width: 246px;
        height: 50px;
        margin-left: 117px;
        margin-right: 117px;
        margin-bottom: 48px;
        margin-top: 67px;
        background: #7ac100;
        border-radius: 12px;
        border: none;

        font-weight: 400px;
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;

    }

    &__text {
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        padding-top: 52px;
        padding-left: 136px;
        padding-right: 136px;
        margin-bottom: 48px;
        text-align: center;
        font-family: "StratosSkyeng";
        font-feature-settings: "pnum" on, "lnum" on;
        color: #004980;
    }

    &__numbers {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 24px;

        &_count {
            width: 98px;
            height: 98px;
            background: #ffffff;
            border-radius: 12px;
            border: none;

            font-family: "StratosSkyeng";
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 72px;
            color: #0080c1;
        }
    }


}